@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Shizuru&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Shizuru&family=Smooch&family=The+Nautigal:wght@700&display=swap');
body {
    margin: 10px 40px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.logo {
    display: block;
    margin: 0 0 0 45%;
}
.logo h1 {
    margin: 0;
    color: rgb(57, 57, 231);
    font-family:  'The Nautigal', cursive;
    font-size: 3rem;
}
@media screen and (max-width : 700px) {
    body {
        margin: 20px;
        box-sizing: border-box;
        margin-bottom: 0;
    }
    .logo {
        display: block;
        margin: 0 0 0 42%;
    }
    .logo h1 {
        margin: 0;
        color: rgb(57, 57, 231);
        font-family:  'The Nautigal', cursive;
        font-size: 1.3rem;
    }
}
.head1 img {
    width: 70px;
    height: auto;
    float: left;
    margin: 10px 20px;
    cursor: pointer;
}
.head2 {
    position: relative;
    float: right;
    margin: 17px;
    right: 0px;
}
.head2 img {
    width: 50px;
    height: auto;
    cursor: pointer;
}
.head2 img:hover {
    transform: rotate(120deg);
}
@media screen and (max-width : 700px) {
    .head1 img {
        display: block;
        width: 30px;
        margin: 0 auto;
    }
    .head2 {
        position: relative;
        float: right;
        margin: 0;
        right: 0px;
    }
    .head2 img {
        width: 30px;
        height: auto;
        cursor: pointer;
    }
}
.nav1 {
    position: absolute;
    right: 20px;
    display: none;
    width: 100px;
}
.nav1 a {
    display: block;
    background-color: lightgrey;
    text-align: center;
    padding:10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.nav1 a:first-of-type {
    border-top: 3px solid black;
}
.nav1 a:hover {
    background-color: gray;
    color: white;
}
.head2:hover .nav1 {
    display: block;
}
@media screen and (max-width : 600px) {
    .nav1 a {
        width: 60px;
        font-size: 0.8rem;
    }
    .nav1 {
        position: absolute;
        right: 0;
        display: none;
        width: 60px;
    }
}
.desc {
    clear: both;
    width: 40%;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'Libre Baskerville', serif;
}
.desc h1 {
    font-size: 2rem;
}
.desc p {
    line-height: 26px;
}
.icon img{
    margin-left: 140px;
    margin-top: 20px;
    width: 450px;
    animation-name: icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@media screen and (max-width : 600px) {
    .desc {
        margin-left: 0;
        clear: both;
        width: 100%;
        float: left;
        margin-top: 30px;
        font-family: 'Libre Baskerville', serif;
    }
    .icon img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: 250px;
    }
    .desc h1 {
        font-size: 1rem;
    }
    .desc p {
        line-height: 23px;
        font-size: 0.7rem;
    }
}
@keyframes icon {
    0%{
        transform: scale(1,1);
    }
    25%{
        transform: scale(1.2, 1.2);
    }
    50%{
        transform: scale(1,1);
    }
    75%{
        transform: scale(1.1, 1.1);
    }
    100%{
        transform: scale(1,1);
    }
}
.main-content {
    clear: both;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 10px;
}
.main-content .item {
    width: 250px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
    border-radius: 20px;
    cursor: pointer;
}
.item .item2 {
    width: 250px;
    padding: 10px;
}
.main-content .item:hover {
    background-color: lightgrey;
}
.item a{
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
@media screen and (max-width : 600px) {
    .main-content {
        margin-left: 0;
        clear: both;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        padding: 10px;
    }
    .main-content .item {
        width: 95%;
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 30px 0px;
        border-radius: 20px;
        cursor: pointer;
    }
}
.footer {
    width: 100%;
    height: fit-content;
    background-color: darkgray;
    color: black;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.footer p {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}
.footer img {
    width: 30px;
    margin-bottom: 0;
}