body {
  margin-bottom: 0;
}
.image-profile img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}
.identitas {
  display: block;
  margin-left: 35%;
}
.identitas input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  margin-top: 30px;
  width: 50%;
  font-size: 1rem;
}
.identitas img {
  width: 30px;
  height: auto;
}
.progres ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 35%;
  margin-top: 60px;
}
.progres li {
  float: left;
  margin: 0px 50px;
}
.progres li:first-of-type {
  margin-left: 0;
}
.progres li img {
  width: 20px;
  height: auto;
  display: inline-table;
}
.footer {
  clear: both;
  width: 99%;
  height: fit-content;
  background-color: darkgray;
  color: black;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  bottom: 0;
  display: block;
}
.footer p {
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.footer img {
  width: 30px;
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  .image-profile img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
  }
  .identitas {
    display: block;
    margin-left: 15%;
  }
  .identitas input {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    margin-top: 30px;
    width: 80%;
    font-size: 1rem;
  }
  .identitas img {
    width: 20px;
    height: auto;
  }
  .progres ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-top: 60px;
  }
  .progres li {
    float: left;
    margin-right: 20px;
  }
  .progres li:first-of-type {
    margin-left: 0;
  }
  .progres li img {
    width: 20px;
    height: auto;
    display: inline-table;
  }
  .footer {
    clear: both;
    width: 97%;
  }
}
